<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseApiUrl</key>
	<string>https://api.kiwisweat.com</string>
	<key>BaseResourceUrl</key>
	<string>https://www.kiwisweat.com</string>
	<key>BrainTreeEnvironment</key>
	<string>production</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>KiwiSweat</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.linksoft.kiwisweat</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb1495258627354548</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1495258627354548</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.9</string>
	<key>FacebookAppID</key>
	<string>1495258627354548</string>
	<key>FacebookDisplayName</key>
	<string>KiwiSweat</string>
	<key>GoogleTrackingId</key>
	<string>UA-53443031-4</string>
	<key>InstabugToken</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>NeoSansStd-Black.otf</string>
		<string>NeoSansStd-BlackItalic.otf</string>
		<string>NeoSansStd-Bold.otf</string>
		<string>NeoSansStd-BoldItalic.otf</string>
		<string>NeoSansStd-Italic.otf</string>
		<string>NeoSansStd-Light.otf</string>
		<string>NeoSansStd-LightItalic.otf</string>
		<string>NeoSansStd-Medium.otf</string>
		<string>NeoSansStd-MediumItalic.otf</string>
		<string>NeoSansStd-Regular.otf</string>
		<string>NeoSansStd-UltraItalic.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
